# This file uses direnv(1) to setup the paths for the correct versions of
# development tools.

# Assuming Java Corretto installed. Recommend via `brew install --cask corretto@21`
export JAVA_HOME=/Library/Java/JavaVirtualMachines/amazon-corretto-21.jdk/Contents/Home
PATH_add $JAVA_HOME/bin
