# Allows the use of direnv(1) with asdf(2), after you install the asdf-direnv(3)
# plugin. This means that the versions of tools used is controlled by the
# `.tool-versions` in the current directory. In addition this file can be  used
# to tailor things like environment variables and $PATH.
#
# [1] https://direnv.net direnv with asdf.
# [2] https://asdf-vm.com This mea
# [3] https://github.com/asdf-community/asdf-direnv

# Add `bin` to the $PATH so can run commands like `devWatch.js`.
PATH_add bin

# Get tool versions from `.tool-versions` file.
use asdf
