package main

// Copy this file to `secrets.go` and fill in the `<replace>` markers.
// DO NOT CHECK IN SECRETS TO GIT!!
const MY_CLIENT_ID = "<replace>.apps.googleusercontent.com"
const MY_CLIENT_SECRET = "<replace>"
