// Copy this file to `secrets.ts` and fill in the `<replace>` markers.
// DO NOT CHECK IN SECRETS TO GIT!!
export const MY_CLIENT_ID = "<replace>.apps.googleusercontent.com";
export const MY_CLIENT_SECRET = "<replace>";
